/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Vollkorn:ital,wght@0,400..900;1,400..900&display=swap');


/* Selector to override default browser styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styling */
html {
    height: 100%;
    margin: 0;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Lato', sans-serif;
    background-color: papayawhip;
    font-size: 20px;
}

.top-image {
    position: fixed;
    top: 0;
    height: 10%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background: url(../images/background-top.png);
    background-position: top;
    z-index: -2;
}

.bottom-image {
    position: absolute;
    bottom: 0;
    height: 10%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background: url(../images/background-bottom.png);
    background-position: bottom;
    z-index: -2;
}

/* Header styling */
header {
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding: 0;
    position: absolute;
    width: 100%;
    height: 57px;
    font-family: 'Vollkorn', serif;
    margin-top: 95px;
    font-size: 1.5rem;
}

#slide-button {
    display: none;
}

/* Game container */
#main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 200px;
    z-index: 2;
}

#background-center-mobile {
    height: 80%;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 85.797px;
    position: absolute;
    z-index: -1;
}

#instructions {
    background-color: #ffffff; 
    padding: 20px;
    border-radius: 10px;
    width: 90%; 
    position: relative; 
    top: 70%; 
    text-align: center;
    z-index: 2;
}

#instructions p {
    margin: 20px;
}

#game-zone {
    background-color: #ffffff; 
    padding: 20px;
    border-radius: 10px;
    width: 90%; 
    position: relative; 
    top: 70%; 
    text-align: center;
    z-index: 2;
}

#answer-zone {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-gap: 10px; 
    justify-items: center; 
    margin-top: 20px;
    z-index: 2;
}

.button-answer {
    width: 100%; 
    padding: 10px;
    font-family: 'Lato', serif;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
}

.button-hint {
    grid-column: span 2; 
    width: 100%; 
    padding: 10px;
    font-family: 'Lato', serif;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
}

/* Class to hide elements easily using JS */
.hidden {
    display: none;
}

/* General button styling */
.button {
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    background-color: green;
    width: 150px;
    transition: background-color 0.3s, transform 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.button:hover {
    background-color: crimson;
    transform: scale(1.05);
}

#god-image {
    width: 38%;
    height: 38%;
}

/* Media query: large or lanscape phones (576px and up) */
@media screen and (min-width: 576px) {

}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {
    .closed {
        .side-image {
            width: 50%;
        }
    }

    #slide-button {
        display: flex;
        z-index: 7;
        justify-content: center;
        align-items: center;
        position: relative;
        top: 50%;
        left: 45%;
        width: 10%;
        height: 50px;
        align-content: center;
    }

    .side-image {
        position: fixed;
        top: 0;
        width: 50%;
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        z-index: 5;
        transition: transform 3s ease-in-out;
    }

    .side-bar {
        position: fixed;
        top: 0;
        width: 2%;
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        z-index: 6;
        transition: transform 3s ease-in-out;
    }

    .left-bar {
        right: 50%;
        background-image: url(../images/decorative-bar-vertical.png);
        background-size: contain;
        background-repeat: repeat;
        box-shadow: -5px 0 15px -5px rgba(0, 0, 0, 2);
    }

    .right-bar {
        left: 50%;
        background-image: url(../images/decorative-bar-vertical.png);
        background-size: contain;
        background-repeat: repeat;
        box-shadow: 5px 0 15px -5px rgba(0, 0, 0, 2);
    }
    
    .left {
        left: 0;
        background-image: url(../images/background-left.png);
        background-position: left;
    }
    
    .right {
        right: 0;
        background-image: url(../images/background-right.png);
        background-position: right;
    }

    .slide-open .left {
        transform: translateX(-50%);
    }
    
    .slide-open .right {
        transform: translateX(50%);
    }

    .slide-open .left-bar {
        transform: translateX(-1200%);
    }
    
    .slide-open .right-bar {
        transform: translateX(1200%);
    }

    .top-image {
        display: none;
    }

    .bottom-image {
        display: none;
    }

    #main-container {
        display: flex;
        width: 50%;
        margin-left: 25%;
    }

    #background-center {
        height: 100%;
        width: 50%;
        align-items: center;
        justify-content: center;
        margin-left: 25%;
        position: absolute;
        z-index: -1;
    }

    #background-center-mobile {
        display: none;
    }

    #god-image {
        width: 40%;
        height: 40%;
    }

    .button {
        display: absolute;
    }

}

/* media query: larger devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {

}